@page
@model LodBasen.Pages.Barn.CreateBarnModel
@{
    ViewData["Title"] = "Create";
}
<link rel="stylesheet" href="~/css/style.css">

<div class="table-container">
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="  ModelOnly  " class="text-danger">
            </div>
            <div class="form-group form-textfield">
                <label asp-for="@Model.barn.Navn" class="control-label"></label>
                <input asp-for="@Model.barn.Navn" class="form-control" />
                <span asp-validation-for="@Model.barn.Navn" class="text-danger"></span>
            </div>
            <div class="form-group form-textfield">
                <label asp-for="@Model.barn.Antal" class="control-label"></label>
                <input asp-for="@Model.barn.Antal" class="form-control" value="0" />
                <span asp-validation-for="@Model.barn.Antal" class="text-danger"></span>
            </div>

            <div class="form-group form-textfield">
                <label asp-for="@Model.barn.Solgt" class="control-label"></label>
                <input asp-for="@Model.barn.Solgt" class="form-control" value="0" />
                <span asp-validation-for="@Model.barn.Solgt" class="text-danger"></span>
            </div>
            <div class="form-group form-textfield">
                <label asp-for="SelectedGruppeNavn">Gruppenavn</label>
                <select asp-for="SelectedGruppeNavn" asp-items="new SelectList(Model.GruppeNavnOptions)">
                    <option value="">Gruppenavn</option>
                </select>
                <span asp-validation-for="SelectedGruppeNavn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
</div>