@page
@model LodBasen.Pages.Barn.DeleteBarnModel
@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>
<h3>Er du sikker?</h3>
<div>
    <hr />
    <form method="post">
        <dl class="row">

            <dt class="col-sm-2"> @Html.DisplayNameFor(model => model.barn.Navn)</dt>
            <dd class="col-sm-10">  @Model.barn.Navn </dd>
            <dt class="col-sm-2"> @Html.DisplayNameFor(model => model.barn.Antal) </dt>
            <dd class="col-sm-10"> @Model.barn.Antal </dd>
            <dt class="col-sm-2">  @Html.DisplayNameFor(model => model.barn.Solgt) </dt>
            <dd class="col-sm-10"> @Model.barn.Solgt  </dd>
            <dt class="col-sm-2">  @Html.DisplayNameFor(model => model.barn.GruppeId) </dt>
            <dd class="col-sm-10"> @Model.barn.GruppeId  </dd>
        </dl>
        <input type="hidden" asp-for="barn.BarnId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="/Barn/GetBarn">
            <input type="button" class="btn btn-outline-primary" value="Tilbage" />
        </a>
    </form>
</div>