@page
@model LodBasen.Pages.Barn.GetBarnModel;
@{
    ViewData["Title"] = "GetBarn";
}
<link rel="stylesheet" href="~/css/style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    body {
        /*background: url('@Url.Content("~/images/bg2.jpg")');*/
    }
</style>


<div class="table-container">
    <div class="headerh1">
    <h1>Børn</h1>

        <form method="get" class="form-inline">
            <div class="input-group">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" asp-for="Search">
                <div class="input-group-append">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </div>
            </div>
        </form>

    <a asp-page="/Barn/CreateBarn">
        <input type="button" class="btn btn-outline-primary" value="Tilføj barn"/>
    </a>
    </div>
    <hr />
    <table class="table table-striped rounded-table shadow p-3 mb-5 bg-white rounded">
        <thead class="t-head">
            <tr>
                <th class="th-item th-barn-navn"> Navn </th>
                <th class="th-item"> Udleveret Lodder</th>
                <th class="th-item"> Solgte Lodder </th>
                <th class="th-item"> Gruppe </th>
                <th class="th-item th-knap"></th>
                <th class="th-item th-knap"></th>
            </tr>
        </thead>
        <tbody>

            @if (Model.Børn != null)
            {
                @foreach (var item in Model.Børn)
                {
                    <tr>
                        <td>  @item.Navn </td>
                        <td>  @item.Antal </td>
                        <td>  @item.Solgt </td>
                        <td><a class="a-link" asp-page="/Barn/GruppeBarn" asp-route-id="@item.GruppeId">@item.Gruppe.GruppeNavn</a></td>
                        <td>
                            <a asp-page="/Barn/UpdateBarn" asp-route-id="@item.BarnId">
                                 <submit class="btn btn-outline-dark"><i class="fa fa-pencil"></i></submit>
                            </a> 
                        </td>
                        <td>
                            <a asp-page="/Barn/DeleteBarn" asp-route-id="@item.BarnId">
                                <submit class="btn btn-outline-danger"><i class="fa fa-trash"></i></submit>
                            </a>
                        </td>
                    </tr>
                }
            }
    </table>

<div class="pagination-container">
    <nav aria-label="Page navigation">
        <ul class="pagination">
            @for (int i = 1; i <= Model.Børn.TotalPages; i++)
            {
                <li class="page-item @(i == Model.Børn.PageIndex ? "active" : "")">
                    <a class="page-link" asp-page="./GetBarn" asp-route-pageIndex="@i">@i</a>
                </li>
            }
        </ul>
    </nav>
</div>
</div>