@page
@model LodBasen.Pages.Salg.DeleteLodsalgModel
@{
    ViewData["Title"] = "Delete";
}

<style>
    .form-control {
        background: #F2F2F2;
        border-radius: 7px;
        border: none;
    }

    .banner {
        width: 80%;
        margin: auto;
        border-radius: 5px;
    }
</style>

<div class="banner">
    <div class="container p-5">
        <div class="card mx-3 mt-n5 shadow-lg" style="border-radius:7px; border:none">
            <div class="card-body p-5">
                <h4 class="card-title mb-3 text-dark text-uppercase" style="font-weight:700">Registrer solgte lodsedler</h4>

                <form method="post">
                <dl class="row">
                    <div class="form-floating mb-3">
                        <div class="form-group form-textfield">
                                <label asp-for="solgtInput"><b>Antal solgt</b></label>
                            <input asp-for="solgtInput" class="form-control" value="0" />
                            <span asp-validation-for="solgtInput" class="text-danger"></span>
                        </div>
                    </div>

                    <dt class="col-sm-2"> @Html.DisplayNameFor(model => model.lodsalg.LodsalgsId)</dt>
                    <dd class="col-sm-10">  @Model.lodsalg.LodsalgsId </dd>
                    <dt class="col-sm-2"> @Html.DisplayNameFor(model => model.lodsalg.ModtagerId) </dt>
                    <dd class="col-sm-10"> @Model.lodsalg.ModtagerId </dd>
                    <dt class="col-sm-2">  @Html.DisplayNameFor(model => model.lodsalg.SælgerId) </dt>
                    <dd class="col-sm-10"> @Model.lodsalg.SælgerId  </dd>
                    <dt class="col-sm-2">  @Html.DisplayNameFor(model => model.lodsalg.LodseddelId) </dt>
                    <dd class="col-sm-10"> @Model.lodsalg.LodseddelId  </dd>
                </dl> 
                    <input type="submit" value="Delete" class="btn btn-danger" /> |
                    <a asp-page="/Salg/GetLodsalg">
                        <input type="button" class="btn btn-outline-primary" value="Tilbage" />
                    </a>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>