@page
@model LodBasen.Pages.Salg.GetLodsalgModel
@{
    ViewData["Title"] = "GetLodsalgssamling";
}
<link rel="stylesheet" href="~/css/style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="table-container">
    <div class="headerh1">
    <h1> Overførsler </h1>

<a asp-page="/Salg/CreateLodsalg">
    <input type="button" class="btn btn-outline-primary" value="Nyt Salg" />
</a>
    </div>
    <table class="table table-striped rounded-table">
    <thead>
        <tr>
            <th> Overførsel ID </th>
            <th> Modtager Navn</th>
            <th> Antal lodsedler</th>
            <th> Modtaget fra</th>
            <th> Slet </th>
        </tr>
    </thead>
    <tbody>

        @if (Model != null)
        {
            @foreach (var item in Model.Lodsalgssamling)
            {
                <tr>
                    <td> @item.LodsalgsId </td>
                    <td> @item.Modtager.Leder.Navn</td>
                    <td> @item.Modtager.Leder.Antal</td>
                    <td> @item.Sælger.Admin.Navn</td>
                    <td>
						<a asp-page="/Salg/DeleteLodsalg" asp-route-id="@item.LodsalgsId">
							<submit class="btn btn-outline-danger"><i class="fa fa-trash"></i></submit>
						</a>
                    </td>
                </tr>
            }

        }

    </tbody>
    <thead>
        <tr>
            <th> Overførsel ID </th>
            <th> Modtager Navn</th>
            <th> Antal lodsedler</th>
            <th> Modtaget fra</th>
            <th> Slet </th>
        </tr>
    </thead>
    <tbody> 
           @if (Model != null)
        {
            @foreach (var item in Model.Lodsalgssamling)
            {
                <tr>
                    <td> @item.LodsalgsId </td>
                    <td> @item.Modtager.Barn.Navn</td>
                    <td> @item.Modtager.Barn.Antal</td>
                    <td> @item.Sælger</td>
                    <td>
                        <a asp-page="/Salg/DeleteLodsalg" asp-route-id="@item.LodsalgsId">
                            <submit class="btn btn-outline-danger"><i class="fa fa-trash"></i></submit>
                        </a>
                    </td>
                </tr>
            }

        }

    </tbody>
</table>
</div>