@page
@model LodBasen.Pages.Leder.GetLederModel
@{
    ViewData["Title"] = "Leder";
}
<link rel="stylesheet" href="~/css/style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="table-container">
    <div class="headerh1">
        <h1>Ledere</h1>

        @* <p>
            <a asp-page="/Leder/CreateLeder">Tilføj Leder</a>
        </p>
        <form>
            <p>
                Search: <input type="text" asp-for="Search" />
                <input type="submit" value="Filter" />
                <a asp-page="/Leder/GetLeder">Back to Full List </a>
            </p>
        </form> *@


        <a asp-page="/Leder/CreateLeder">
            <input type="button" class="btn btn-outline-primary" value="Tilføj leder" />
        </a>

    </div>

    <hr />

    <table class="table table-striped rounded-table shadow p-3 mb-5 bg-white rounded">
        <thead class="t-head">
            <tr>
                <th class="th-item"> Navn </th>
                <th class="th-item"> Antal solgte lodder </th>
                <th class="th-item"> Udleveret lodder </th>
                <th class="th-item"> Gruppe </th>
                <th class="th-item th-knap"></th>
                <th class="th-item th-knap"></th>
            </tr>
        </thead>
        <tbody>

            @if (Model != null)
            {
                @foreach (var item in Model.Ledere)
                {
                    <tr>
                        <td>  @item.Navn </td>
                        <td>  @item.Antal </td>
                        <td>  @item.Udleveret </td>
                        <td><a class="a-link" asp-page="/Barn/GruppeBarn" asp-route-id="@item.GruppeId">@item.Gruppe.GruppeNavn</a></td>

                        <td> 
                            <a asp-page="/Leder/UpdateLeder" asp-route-id="@item.LederId">
                                 <submit class="btn btn-outline-dark"><i class="fa fa-pencil"></i></submit>
                            </a> 
                        </td>
                        <td>
                            <a asp-page="/Leder/DeleteLeder" asp-route-id="@item.LederId">
                                <submit class="btn btn-outline-danger"><i class="fa fa-trash"></i></submit>
                            </a>
                        </td>

                    </tr>
                }
            }
    </table>
</div>